## .env без контекста
BROWSERSTACK_USERNAME=ваш username в Browserstack
BROWSERSTACK_ACCESS_KEY=ваш ключ в Browserstack
BROWSERSTACK_PROJECT_NAME=название проекта в bstack, опционально
BROWSERSTACK_BUILD_NAME=название билда в bstack, опционально
BROWSERSTACK_SESSION_NAME=название сессии в bstack, опционально

## .env с контекстом bstack
CONTEXT=bstack
REMOTE_URL=http://hub.browserstack.com/wd/hub
APP=bs://<ваша ссылка на загруженное приложение в bstack>
DEVICENAME=Google Pixel 7 (можно указать из имеющихся на платформе, здесь указан как пример)

## .env с контекстом local_emulator
CONTEXT=local_emulator
REMOTE_URL=<ваш сервер>
UDID=<udid вашего эмулятора>

## .env с контекстом local_real
CONTEXT=local_real
REMOTE_URL=<ваш сервер>
UDID=<udid вашего реального девайса>